<div class=" one-page-form">
    <h1 class="title is-4">Modifier le statut de devis</h1>
    <%= link_to 'Revenir à la liste', devis_statuts_path, class: "button" %>
    <%= render 'form', devis_statut: @devis_statut %>
</div>
