<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(devis_statuts_path) %>
  <%= page_title("Modifier le statut de devis") %>
</nav>

<div class="one-page-form">
    <%= render 'form', devis_statut: @devis_statut %>
</div>
