<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(document_modeles_path) %>
  <%= page_title("Nouveau modèle de document") %>
</nav>

<div class="one-page-form">
    <%= render 'form', document_modele: @document_modele %>
</div>
