<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(clients_path) %>
  <%= page_title("Modifier le client") %>
</nav>

<div class="columns">
  <div class="column is-4">
    <%= render 'form', client: @client %>
  </div>
  <div class="column is-8">
    <%= render 'versions', client: @client %>
  </div>
</div>
