<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(clients_path) %>
  <%= page_title("Nouveau client") %>
</nav>

<div class="one-page-form">
    <%= render 'form', client: @client %>
</div>
