<div class="facture-form">
    <h1 class="title is-4">Modifier une facture</h1>
    <%= link_to 'Revenir à la liste', factures_path, class: "button" %>
    <%= render 'form', facture: @facture %>
</div>
