<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(factures_path) %>
  <%= page_title("Modifier une facture") %>
</nav>

<div class="facture-form">
    <%= render 'form', facture: @facture %>
</div>
