<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(factures_path) %>
  <%= page_title("Nouvelle facture") %>
</nav>

<div class="action-buttons">
    <div class="field is-grouped">
        <%= links_to_choose_model(current_user.document_modeles.order(:nom), @modele_selectionne) %>
    </div>
</div>

<div class="facture-form">
    <%= render 'form', facture: @facture %>
</div>
