<tr class="nested-fields">
  <td colspan="2">
    <div class="field">
      <div class="control grow-wrap">
        <%= f.text_area :designation, rows: 1, class: "textarea auto-grow" %>
      </div>
    </div>
    <%= f.hidden_field :_destroy %>
  </td>
  <td class="is-relative">
    <div class="field">
      <div class="control price-input-wrap">
        <%= f.hidden_field :montant_ht %>
        <input type="text" class="input price-input has-text-right" autocomplete="off" value="<%= montant_humanise(f.object.montant_ht) %>"></input>
      </div>
    </div>
    <div class="row-action">
      <span class="icon">
        <i class="fa fa-times remove_fields is-clickable"></i>
      </span>
    </div>
  </td>
</tr>
