<div class="field">
  <div class="control grow-wrap">
    <%= form.text_area :mention1_texte, rows: 2, class: "textarea auto-grow" %>
  </div>
</div>

<div class="field">
  <div class="control grow-wrap">
    <%= form.text_area :mention2_texte, rows: 2, class: "textarea auto-grow" %>
  </div>
</div>

<div class="field">
  <div class="control grow-wrap">
    <%= form.text_area :mention3_texte, rows: 2, class: "textarea auto-grow" %>
  </div>
</div>

<div class="field">
  <div class="control grow-wrap">
    <%= form.text_area :mention_legale, rows: 2, class: "textarea auto-grow has-text-centered" %>
  </div>
</div>
