<tr>
  <td></td>
  <td class="is-narrow has-text-primary-color has-text-weight-bold">TOTAL HT</td>
  <td class="has-text-right has-text-primary-color has-text-weight-bold nowrap">
      <span id="devi_montant_ht_dummy"><%= montant_humanise(@devi.montant_ht) %></span>
  </td>
</tr>
<tr>
  <td></td>
  <td class="is-narrow has-text-weight-bold has-text-gray">TVA <%= @devi.taxe.nom %></td>
  <td class="has-text-right has-text-weight-bold has-text-gray nowrap">
    <span id="devi_montant_tva_dummy"><%= montant_humanise(@devi.montant_tva) %></span>
  </td>
</tr>
<tr class="has-text-weight-bold">
  <td></td>
  <td class="is-narrow has-text-primary-color has-border-top">TOTAL TTC</td>
  <td class="has-text-right has-text-primary-color has-border-top nowrap">
      <span id="devi_montant_ttc_dummy"><%= montant_humanise(@devi.montant_ttc) %></span>
  </td>
</tr>
