<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(devis_path) %>
  <%= page_title("Nouveau devis") %>
</nav>

<div class="action-buttons">
    <div class="field is-grouped">
        <%= links_to_choose_devis_model(current_user.document_modeles.order(:nom), @modele_selectionne) %>
    </div>
</div>

<div class="devis-form">
    <%= render 'form', devi: @devi %>
</div>
