<div class=" one-page-form">
    <h1 class="title is-4">Modifier le statut de facture</h1>
    <%= link_to 'Revenir à la liste', facture_statuts_path, class: "button" %>
    <%= render 'form', facture_statut: @facture_statut %>
</div>
