<nav class="navbar is-light is-fixed-top">
  <%= back_link_to(facture_statuts_path) %>
  <%= page_title("Nouveau statut de facture") %>
</nav>

<div class="one-page-form">
    <%= render 'form', facture_statut: @facture_statut %>
</div>
