@charset "utf-8";

// $size-6: 0.8rem;
$body-size: 13px;

@import "bulma/bulma";

$factureFieldBorderStyle: dashed;

.one-page-form {
  width: 400px;
}
.card.facture-feuille {
  width: 735px;
  min-height: 1040px;
  // float:left;
  // position: relative;
  padding: 4rem;
}
.card.facture-feuille .fournisseur {
  // position: absolute;
  // width: 300px;
  // left: 30px;
  // top: 30px;
}
.card.facture-feuille .fournisseur .textarea {
  box-shadow: none;
  border-radius: 0;
  border-style: $factureFieldBorderStyle;
}
.card.facture-feuille .client {
  // position: absolute;
  // width: 300px;
  // right: 30px;
  // top: 30px;
}
.card.facture-feuille .contenu-principal {
  // position: absolute;
  // top: 260px;
  // left: 30px;
  // right:30px;
}
.card.facture-feuille .facture-mentions {
  margin-top:30px;
}
.card.facture-feuille .contenu-principal input,
.card.facture-feuille .contenu-principal textarea {
  box-shadow: none;
  border-style: $factureFieldBorderStyle;
}
.card.facture-feuille .contenu-principal .field:not(.has-addons) input,
.card.facture-feuille .contenu-principal .field:not(.has-addons) textarea {
  border-radius: 0;
}
.card.facture-feuille .contenu-principal .facture-lignes tbody tr .row-action {
  position: absolute;
  right:-1.5em;
  top:0.8em;
}
.card.facture-feuille .contenu-principal .facture-lignes .table th.is-narrow {
  width: 19%;
}
.card.facture-feuille .contenu-principal .facture-lignes .table th,
.card.facture-feuille .contenu-principal .facture-lignes .table td {
  border: 0;
}
.card.facture-feuille .contenu-principal .facture-lignes .table th:not(:last-child) {
  border-right: 2px solid #fff;
}
.card.facture-feuille .client .field:not(:last-child) {
  margin-bottom: 0;
}
.card.facture-feuille .client .field-body > .field:not(:last-child) {
  margin-right: 0;
}
.card.facture-feuille .client .code-postal {
  width:2em;
}
.card.facture-feuille .client .code-postal .input {
  border-right: 0;
}
.card.facture-feuille .client .field:not(:last-of-type) .input,
.card.facture-feuille .client .field .textarea {
  border-bottom: 0;
}
.card.facture-feuille .client .input,
.card.facture-feuille .client .textarea {
  box-shadow: none;
  border-radius: 0;
  border-style: $factureFieldBorderStyle;
}
.card.facture-feuille .client .field:first-child .input {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.card.facture-feuille .client .field:last-of-type .input {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.card.facture-feuille .client #creating-client-indicator {

}
.card.facture-feuille .contenu-principal .date-emission {
  width:8em;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker {
  width: 320px;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-clear-button {
  display: none;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper {
  flex: 0;
  border-color: #dbdbdb;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper:hover {
  border-color: #b5b5b5;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy::before,
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy:before {
  display: none;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input:first-child {
  text-indent: 0;
  text-align: center;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
  max-width: 100%;
  cursor: pointer;
}
.card.facture-feuille .facture-lignes tfoot td {
  height: 3.2em;
}
.card.facture-feuille .facture-lignes td,
.card.facture-feuille .facture-lignes tfoot td span.select {
    vertical-align: middle;
}
.card.facture-feuille .facture-lignes td .field:not(:last-child) {
  margin-bottom: 0;
}
.panel.facture-actions {
  position: -webkit-fixed;
  position:fixed;

  left: 980px;
}
.panel.facture-actions .buttons {
  width: 180px;
}
.has-text-gray {
  color: $grey-light !important;
}
.has-border-top {
  border-top: 1px $grey-light solid !important;
}
.control.is-fullwidth {
  width:100%;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid #dbdbdb;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

table.client-versions .tags:not(:last-child) {
  margin-bottom: 0rem;
}


html,body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  // font-size: 14px;
  line-height: 1.5;
  height: 100%;
  background-color: #fff;
}
.nav.is-dark {
  background-color: #232B2D;
  color: #F6F7F7;
}
.nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
    color: #F6F7F7;
}
.nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px;
}
.nav.menu {
  border-bottom: 1px solid #e1e1e1;
}
.nav.menu .nav-item .icon-btn {
  border: 3px solid #B7C6C9;
  border-radius: 90px;
  padding: 5px 7px;
  color: #B7C6C9;
}
.nav.menu .nav-item.is-active .icon-btn {
  color: #2EB398;
  border: 3px solid #2EB398;
}
.nav.menu .nav-item .icon-btn .fa {
  font-size: 20px;
  color: #B7C6C9;
}
.nav.menu .nav-item.is-active .icon-btn .fa {
  color: #2EB398;
}
.aside {
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
}
.yield {
  display:block;
  background-color: #fff;
  border-right: 1px solid #DEDEDE;
  padding: 40px 20px;
}
.message {
  display:block;
  background-color: #fff;
  padding: 40px 20px;
}
.aside .compose {
  height: 95px;
  margin:0 -10px;
  padding: 25px 30px;
}
.aside .compose .button {
  color: #F6F7F7;
}
.aside .compose .button .compose {
  font-size: 14px;
  font-weight: 700;
}
.aside .main {
  padding: 40px;
  color: #6F7B7E;
}
.aside .title {
  color: #6F7B7E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .main .item.active {
  background-color: #F1F1F1;
  margin: 0 -50px;
  padding-left: 50px;
}
.aside .main .item:active,.aside .main .item:hover {
  background-color: #F2F2F2;
  margin: 0 -50px;
  padding-left: 50px;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
  color: #A0A0A0;
}
.aside .main .name {
  font-size: 15px;
  color: #5D5D5D;
  font-weight: 500;
}
.messages .action-buttons {
  padding: 0;
  margin-top: -20px;
}
.message .action-buttons {
  padding: 0;
  margin-top: -5px;
}

.pg {
  display: inline-block;
  top:10px;
}
.action-buttons .pg .title {
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3px;
  font-size:12px;
  color: #AAAAA;
}
.action-buttons .pg a{
  font-size:12px;
  color: #AAAAAA;
  text-decoration: none;
}
.inbox-messages {
  margin-top:60px;
}
.message-preview {
  margin-top: 60px;
}
.inbox-messages .card {
  width: 100%;
}
.inbox-messages strong {
  color: #5D5D5D;
}
.inbox-messages .msg-check {
  padding: 0 20px;
}
.inbox-messages .msg-subject {
  padding: 10px 0;
  color: #5D5D5D;
}
.inbox-messages .msg-attachment {
  float:right;
}
.inbox-messages .msg-snippet {
  padding: 5px 20px 0px 5px;
}
.inbox-messages .msg-subject .fa {
  font-size: 14px;
  padding:3px 0;
}
.inbox-messages .msg-timestamp {
  float: right;
  padding: 0 20px;
  color: #5D5D5D;
}
.message-preview .avatar {
  display: inline-block;
}
.message-preview .top .address {
  display: inline-block;
  padding: 0 20px;
}
.avatar img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 2px;
}
.address .name {
  font-size: 16px;
  font-weight: bold;
}
.address .email {
  font-weight: bold;
  color: #B6C7D1;
}
.card.active {
  background-color:#F5F5F5;
}
