@charset "utf-8";

// $size-6: 0.8rem;
$body-size: 13px;

@import "bulma/bulma";

$factureFieldBorderStyle: dashed;

/***** LAYOUT *****/
html,body {
  height: 100%;
}
.aside {
  top:0;
  bottom:0;
  left:0;
  position: fixed !important;
  position: -webkit-fixed !important;
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
  width: 17em;
}
.yield {
  display:block;
  margin-left: 17em;
  background-color: #fff;
  border-right: 1px solid #DEDEDE;
  padding: 40px 20px;
}
.aside .main {
  padding: 3em;
  color: #6F7B7E;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .main .item.is-active {
  background-color: $grey-lightest;
  margin: 0 -3em;
  padding-left: 3em;
}
.aside .main .item:active,
.aside .main .item:hover {
  background-color: #F2F2F2;
  margin: 0 -3em;
  padding-left: 3em;
}
.aside .main .name {
  color: #5D5D5D;
}
.aside .main.low {
  position: absolute;
  bottom: 0;
}
.aside .main.low .dropdown-menu button.dropdown-item {
  border:0;
  background: transparent;
}
.aside .main.low .dropdown-menu button.dropdown-item:hover {
  background-color: whitesmoke;
  color: #0a0a0a;
  cursor: pointer;
}

.one-page-form {
  width: 400px;
}
.small-width-page {
  width: 600px;
}
div.has-navbar-fixed-top {
  padding-top: 5em;
}
div.has-navbar-fixed-top .navbar.is-fixed-top {
  left: 17em;
}
.action-buttons {
  margin-bottom: 1.5rem;
}
.is-hidden-container {
  position: absolute;
  z-index: -1;
}

/***** FACTURES & DEVIS *****/
.card.facture-feuille,
.card.devis-feuille {
  width: 735px;
  min-height: 1040px;
  padding: 4rem;
}
.card.facture-feuille .fournisseur,
.card.devis-feuille .fournisseur {
  width:100%;
}
.card.facture-feuille .fournisseur .textarea,
.card.devis-feuille .fournisseur .textarea {
  box-shadow: none;
  border-radius: 0;
  border-style: $factureFieldBorderStyle;
}
.card.facture-feuille .client .dropdown-trigger .is-right,
.card.devis-feuille .client .dropdown-trigger .is-right {
  position: absolute;
  right:0.4em;
  top:0.4em;
}
.card.facture-feuille .facture-mentions,
.card.devis-feuille .facture-mentions {
  margin-top:30px;
}
.card.facture-feuille .contenu-principal input,
.card.facture-feuille .contenu-principal textarea,
.card.devis-feuille .contenu-principal input,
.card.devis-feuille .contenu-principal textarea {
  box-shadow: none;
  border-style: $factureFieldBorderStyle;
}
.card.facture-feuille .contenu-principal .field:not(.has-addons) input,
.card.facture-feuille .contenu-principal .field:not(.has-addons) textarea,
.card.devis-feuille .contenu-principal .field:not(.has-addons) input,
.card.devis-feuille .contenu-principal .field:not(.has-addons) textarea {
  border-radius: 0;
}
.card.facture-feuille .contenu-principal .facture-lignes tbody tr .row-action,
.card.devis-feuille .contenu-principal .devis-lignes tbody tr .row-action {
  position: absolute;
  right:-1.5em;
  top:0.8em;
}
.card.facture-feuille .contenu-principal .facture-lignes .table th.is-narrow,
.card.devis-feuille .contenu-principal .devis-lignes .table th.is-narrow {
  width: 19%;
}
.card.facture-feuille .contenu-principal .facture-lignes .table th,
.card.facture-feuille .contenu-principal .facture-lignes .table td,
.card.devis-feuille .contenu-principal .devis-lignes .table th,
.card.devis-feuille .contenu-principal .devis-lignes .table td {
  border: 0;
  vertical-align: top;
}
.card.facture-feuille .contenu-principal .facture-lignes .table th:not(:last-child),
.card.devis-feuille .contenu-principal .devis-lignes .table th:not(:last-child) {
  border-right: 2px solid #fff;
}
.card.facture-feuille .client .field:not(:last-child),
.card.devis-feuille .client .field:not(:last-child) {
  margin-bottom: 0;
}
.card.facture-feuille .client .field-body > .field:not(:last-child),
.card.devis-feuille .client .field-body > .field:not(:last-child) {
  margin-right: 0;
}
.card.facture-feuille .client .code-postal,
.card.devis-feuille .client .code-postal {
  width:4em;
}
.card.facture-feuille .client .code-postal .input,
.card.devis-feuille .client .code-postal .input {
  border-right: 0;
}
.card.facture-feuille .client .field:not(:last-of-type) .input,
.card.facture-feuille .client .field .textarea,
.card.devis-feuille .client .field:not(:last-of-type) .input,
.card.devis-feuille .client .field .textarea {
  border-bottom: 0;
}
.card.facture-feuille .client .input,
.card.facture-feuille .client .textarea,
.card.devis-feuille .client .input,
.card.devis-feuille .client .textarea {
  box-shadow: none;
  border-radius: 0;
  border-style: $factureFieldBorderStyle;
}
.card.facture-feuille .client .field:first-child .input,
.card.devis-feuille .client .field:first-child .input {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.card.facture-feuille .client .field:last-of-type .input,
.card.devis-feuille .client .field:last-of-type .input {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.card.facture-feuille .contenu-principal .date-emission,
.card.devis-feuille .contenu-principal .date-emission {
  width:8em;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker {
  width: 320px;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-clear-button,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-clear-button {
  display: none;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper {
  flex: 0;
  border-color: #dbdbdb;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper:hover,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper:hover {
  border-color: #b5b5b5;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy::before,
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy:before,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-dummy::before,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-dummy:before {
  display: none;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input:first-child,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input:first-child {
  text-indent: 0;
  text-align: center;
}
.card.facture-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input,
.card.devis-feuille .contenu-principal .date-emission .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
  max-width: 100%;
  cursor: pointer;
}
.card.facture-feuille .facture-lignes tfoot td,
.card.devis-feuille .devis-lignes tfoot td {
  height: 3.2em;
}
.card.facture-feuille .facture-lignes td,
.card.facture-feuille .facture-lignes tfoot td span.select,
.card.devis-feuille .devis-lignes td,
.card.devis-feuille .devis-lignes tfoot td span.select {
    vertical-align: middle;
}
.card.facture-feuille .facture-lignes td .field:not(:last-child),
.card.devis-feuille .devis-lignes td .field:not(:last-child) {
  margin-bottom: 0;
}
.panel.facture-actions,
.panel.devis-actions {
  position: -webkit-fixed;
  position:fixed;

  left: calc(780px + 17em);
}
.panel.facture-actions .buttons,
.panel.devis-actions .buttons {
  width: 180px;
}
.selecteur-statut a.button {
  border-color: transparent;
}
.card.facture-feuille .selecteur-statut,
.card.facture-feuille .tag.brouillon,
.card.devis-feuille .selecteur-statut,
.card.devis-feuille .tag.brouillon {
  position:absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.card.facture-feuille .logo,
.card.devis-feuille .logo {
  width:100%;
}



/***** STYLE *****/
.buttons-divider {
  display: block;
  background-color: whitesmoke;
  border: none;
  height: 2px;
  margin: 0.5 0 1rem 0;
  padding: 0;
  font-size: 1rem;
  width:100%;
}
.tag:not(body).is-payee,
.dropdown a.is-payee,
.tag:not(body).is-signe,
.dropdown a.is-signe  {
  background-color: #00d1b2;
  color: #fff;
}
.tag:not(body).is-enregistree,
.dropdown a.is-enregistree,
.tag:not(body).is-non-envoye,
.dropdown a.is-non-envoye  {
  background-color: #ffe08a;
  color: rgba(0,0,0,.7);
}
.tag:not(body).is-envoyee,
.dropdown a.is-envoyee,
.tag:not(body).is-envoye,
.dropdown a.is-envoye  {
  background-color: #485fc7;
  color: #fff;
}
.tag:not(body).is-annulee,
.dropdown a.is-annulee,
.tag:not(body).is-annule,
.dropdown a.is-annule {
  background-color: #fff;
  color: #0a0a0a;
}
.file.has-text-right {
  flex-direction: row-reverse;
}
.has-text-gray {
  color: $grey-light !important;
}
.has-border-top {
  border-top: 1px $grey-light solid !important;
}
.control.is-fullwidth,
.dropdown.is-fullwidth,
.dropdown.is-fullwidth .dropdown-trigger {
  width:100%;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid #dbdbdb;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

table.client-versions .tags:not(:last-child) {
  margin-bottom: 0rem;
}
.nowrap {
  white-space: nowrap !important;
}

/***** FRAIS *****/
.form-line {
  display: inline-flex;
  align-items: center;
}
.form-line .label {
  flex: none;
  margin:0;
  margin-right: 1em;
  padding:0;
}
.form-line .field {
  flex: none;
  margin:0;
  padding:0;
  margin-right: 3em;
}
.form-line .field .control {
  flex: none;
  margin:0;
  padding:0;
}
table#table_frais tr.form td {
  background: whitesmoke;
  border-bottom: 2px solid #dbdbdb;
}
table#table_frais tr.form td input[type=text] {
  border: 1px solid #dbdbdb;
  box-shadow: none;
  border-style: dashed;
  border-radius: 0;
}

/***** PDF FACTURES *****/
.designation {
  margin-top:3em;
}
body.pdf {
  font-size:16px;
}
body.pdf .yield {
  display:block;
  margin-left: 0;
  background-color: #fff;
  border-right: 0;
  padding: 1em 0 0 0;
}
body.pdf .aside {
  display: none;
}
body.pdf .facture-feuille .tile:not(.is-child),
body.pdf .devis-feuille .tile:not(.is-child) {
  display: flex !important;
}
body.pdf .facture-feuille .tile.is-5,
body.pdf .devis-feuille .tile.is-5 {
  flex: none !important;
  width: 41.6666666667% !important;
}
body.pdf .facture-feuille .tile.is-2,
body.pdf .devis-feuille .tile.is-2 {
  flex: none !important;
  width: 16.6666666667% !important;
}
body.pdf .facture-feuille .facture-mentions,
body.pdf .devis-feuille .devis-mentions {
  margin-top:10em;
  font-size:0.9em;
}
body.pdf .facture-feuille .logo,
body.pdf .devis-feuille .logo {
  width:300px;
  margin-bottom:1em;
}
body.pdf .facture-feuille .client,
body.pdf .devis-feuille .client {
  margin-top:3em;
}
body.pdf .content table td,
body.pdf .content table th {
  border: 0;
}
body.pdf .content .facture-lignes table thead th:not(:last-child),
body.pdf .content .devis-lignes table thead th:not(:last-child) {
  border-right: 2px solid #fff;
}
body.pdf .content .facture-lignes table tbody tr td,
body.pdf .content .devis-lignes table tbody tr td {
  border-bottom: 1px #ccc solid;
}
body.pdf .content .facture-lignes table tfoot,
body.pdf .content .devis-lignes table tfoot {
  font-size: 1.1em;
}
