<!DOCTYPE html>
<html>
  <head>
    <title>Comptabilité</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= wicked_pdf_stylesheet_link_tag 'application' %>
  </head>

  <body class="pdf">
    <div class="is-fullheight" id="compta-app">
        <div class="yield">
          <%= yield %>
        </div>
    </div>
  </body>
</html>
